



<div id="banner-home">
    <div id="transbox">
      <img id="logo" src="assets/logomakr.png" alt="Logo Xplor" width="10%" height="10%"></img>
      <p id='brand'> Xplor </p>
      <p id='slogan'> record your Xploration </p>

    </div>
</div>


