<p id="notice"><%= notice %></p>
  <div id='left-side-column' >
    <ul style="margin-top: 10px">
    <% current_user.stories.each do |story| %>
      <li><%= story.title %></li>
    <% end %>
    </ul>
  </div>

