/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import 'typography.css';
@import 'button.css';
@import 'google-icons.css';
@import 'textfield.css';
@import 'card.css';
@import 'bootstrap-datetimepicker.css';
@import 'pmd-datetimepicker.css';
@import 'navbar.css';
@import 'dropdown.css';
@import 'list.css';
@import 'modal.css';
@import 'radio.css';
@import 'checkbox.css';
@import 'sidebar.css';
@import 'textfield.css';
@import 'tab.css';
@import 'nouislider.min.css';
@import 'range-slider.css';
@import 'select2.min.css';
@import 'select2-bootstrap.css';
@import 'pmd-select2.css';

/*----- Body -----*/
	body {
		background-color: #EAE7DC;
	}

	a:hover {
		background-color: transparent;
	}

/*----- Tab Panels -----*/
.tab-pane.active, .tab-pane, {
	background-color: #EAE7DC;
}

/*----- Banner -----*/

#banner-home {
	background-image: image-url("backpack-4.jpg");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #4646464;
	height: 735px;
}

/*----- Navbar -----*/

#image {
	  	display: inline;
		max-width: 10%;
		max-height: 10%;
		margin-left: 10px;
}

#navbar {
	background: transparent;
	border: none;
	box-shadow: none;
}

/*----- Logo and slogan in the centre of page -----*/

#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 150px;
	padding-bottom: 1%;
}

#brand {
	margin-top: 1px;
	padding: 30px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 100px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
}

#slogan {

	padding: 30px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 50px;
	color: #FFFFFF;
	text-align: center;
}


/*----- Navbar -----*/

/*navbar color*/
.navbar-inverse {
	background-color: #88BDBC;
	border-color: #88BDBC;
	box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

/*navbar icons*/
#navbar-icons-menu, #navbar-icons-search, #navbar-search-container {
	color: #EAE7DC;
	border: none;
}

/*navbar icons hover*/
#navbar-icons-menu:hover, #navbar-icons-search:hover, navbar-search-container:hover {
	color: black;
	background-color: transparent;
}

/*navbar brand hover*/
	.navbar-brand:hover, .navbar-brand:focus {
	color: #fff;
	background-color: transparent;
}

/*----- Floating Action Button -----*/

#floating-bottom-button {
	background-color: #F64C72;
	bottom: 24px;
	color: white;
	position: fixed;
	right: 24px;
	z-index: 1000;
	box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

/*----- Floating Action Button -----*/
#map {
	width: 60%;
	height: 400px;
	background-color: grey;
}

/*----- Floating Action Button -----*/
#card-photo {
	width: 100%;
}

/*----- Propeller css for Floating Action Button -----*/
	.pmd-floating-action { bottom: 0; position: fixed;  margin:1em;  right: 0; }
	.pmd-floating-action-btn { display:block; position: relative; transition: all .2s ease-out;}
	.pmd-floating-action-btn:before { bottom: 10%; content: attr(data-title); opacity: 0; position: absolute; right: 100%; transition: all .2s ease-out .5s;  white-space: nowrap; background-color:#fff; padding:6px 12px; border-radius:2px; color:#333; font-size:12px; margin-right:5px; display:inline-block; box-shadow: 0px 2px 3px -2px rgba(0, 0, 0, 0.18), 0px 2px 2px -7px rgba(0, 0, 0, 0.15);}
	.pmd-floating-action-btn:last-child:before { font-size: 14px; bottom: 25%;}
	.pmd-floating-action-btn:active, .pmd-floating-action-btn:focus, .pmd-floating-action-btn:hover {box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);}
	.pmd-floating-action-btn:not(:last-child){ opacity: 0; -ms-transform: translateY(20px) scale(0.3); transform: translateY(20px) scale(0.3); margin-bottom:15px; margin-left:8px; position:absolute; bottom:0;}
	.pmd-floating-action-btn:not(:last-child):nth-last-child(1) { transition-delay: 50ms;}
	.pmd-floating-action-btn:not(:last-child):nth-last-child(2) { transition-delay: 100ms;}
	.pmd-floating-action-btn:not(:last-child):nth-last-child(3) { transition-delay: 150ms;}
	.pmd-floating-action-btn:not(:last-child):nth-last-child(4) { transition-delay: 200ms;}
	.pmd-floating-action-btn:not(:last-child):nth-last-child(5) { transition-delay: 250ms;}
	.pmd-floating-action-btn:not(:last-child):nth-last-child(6) { transition-delay: 300ms;}
	.pmd-floating-action:hover .pmd-floating-action-btn, .menu--floating--open .pmd-floating-action-btn { opacity: 1; -ms-transform: none; transform: none; position:relative; bottom:auto;}
	.pmd-floating-action:hover .pmd-floating-action-btn:before, .menu--floating--open .pmd-floating-action-btn:before { opacity: 1;}
	.pmd-floating-hidden{ display:none;}
	.pmd-floating-action-btn.btn:hover{ overflow:visible;}
	.pmd-floating-action-btn .ink{ width:50px; height:50px;}
	a.pmd-floating-action-btn.btn.pmd-btn-fab.pmd-btn-raised.pmd-ripple-effect.btn-primary {
		background-color: #d23f31;
		border-color: #d23f31;
		box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
	}

/*----- New Story Card -----*/
#new-story {
	display: none;
}

/*----- Event Card -----*/
#eventcolumn {
	padding: 2px;
}

div.pmd-card.pmd-card-default.pmd-z-depth {
	margin-bottom: 4px;
}

div.pmd-card.pmd-card-media-inline.pmd-z-depth {
	margin-bottom: 4px;
}

/*----- Google Maps -----*/
#gmap_canvas {
height: 700px;
position: relative;
width: 900px;
}
.actions {
background-color: #FFFFFF;
bottom: 30px;
padding: 10px;
position: absolute;
right: 30px;
z-index: 2;
border-top: 1px solid #abbbcc;
border-left: 1px solid #a7b6c7;
border-bottom: 1px solid #a1afbf;
border-right: 1px solid #a7b6c7;
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
border-radius: 12px;
}
.actions label {
display: block;
margin: 2px 0 5px 10px;
text-align: left;
}
.actions input, .actions select {
width: 85%;
}
.button {
background-color: #d7e5f5;
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d7e5f5), color-stop(100%, #cbe0f5));
background-image: -webkit-linear-gradient(top, #d7e5f5, #cbe0f5);
background-image: -moz-linear-gradient(top, #d7e5f5, #cbe0f5);
background-image: -ms-linear-gradient(top, #d7e5f5, #cbe0f5);
background-image: -o-linear-gradient(top, #d7e5f5, #cbe0f5);
background-image: linear-gradient(top, #d7e5f5, #cbe0f5);
border-top: 1px solid #abbbcc;
border-left: 1px solid #a7b6c7;
border-bottom: 1px solid #a1afbf;
border-right: 1px solid #a7b6c7;
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
border-radius: 12px;
-webkit-box-shadow: inset 0 1px 0 0 white;
-moz-box-shadow: inset 0 1px 0 0 white;
box-shadow: inset 0 1px 0 0 white;
color: #1a3e66;
font: normal 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
line-height: 1;
margin-bottom: 5px;
padding: 6px 0 7px 0;
text-align: center;
text-shadow: 0 1px 1px #fff;
width: 150px;
}
.button:hover {
background-color: #ccd9e8;
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ccd9e8), color-stop(100%, #c1d4e8));
background-image: -webkit-linear-gradient(top, #ccd9e8, #c1d4e8);
background-image: -moz-linear-gradient(top, #ccd9e8, #c1d4e8);
background-image: -ms-linear-gradient(top, #ccd9e8, #c1d4e8);
background-image: -o-linear-gradient(top, #ccd9e8, #c1d4e8);
background-image: linear-gradient(top, #ccd9e8, #c1d4e8);
border-top: 1px solid #a1afbf;
border-left: 1px solid #9caaba;
border-bottom: 1px solid #96a3b3;
border-right: 1px solid #9caaba;
-webkit-box-shadow: inset 0 1px 0 0 #f2f2f2;
-moz-box-shadow: inset 0 1px 0 0 #f2f2f2;
box-shadow: inset 0 1px 0 0 #f2f2f2;
color: #163659;
cursor: pointer;
}
.button:active {
border: 1px solid #8c98a7;
-webkit-box-shadow: inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eeeeee;
-moz-box-shadow: inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eeeeee;
box-shadow: inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eeeeee;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
div#map, div#mapAll {
  width: 100%;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card, .pac-card2 {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input, #pac-input2 {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}


.modal-backdrop {
    z-index: 10;
}

.pac-container {
    background-color: #FFF;
    z-index: 20;
    position: fixed;
    display: inline-block;
    float: left;
}

.modal {
    z-index: 20;
}
